.forgot-password-container {
  background-color: #9c00fe;
  padding: 5%;
}

.container {
  width: 50%;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 40px;
  border-radius: 15px;
  background: #ca2d54;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#inp-verifi {
  width: 25px;
  height: 25px;
  margin: 8px 3px;
  font-size: 18px;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  background-color: transparent;
}

.containerBoton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttonRegistro {
  border-radius: 20px;
  border: 2px solid #9c00fe;
  color: #9c00fe;
  background-color: #FFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  margin-bottom: 20px;
  margin-left: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.buttonRegistro:hover {
  background-color: #9c00fe;
  color: white;
  transition: 0.4s;
}

.buttonRegistro:active {
  transform: scale(0.95);
}

.buttonRegistro:focus {
  outline: none;
}
